<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Decision-Tree</title>
    <!-- 引入 Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prettify.css')}}">
</head>
<body>
<section>
    <div style="text-align: center">
        <form enctype="multipart/form-data" action="/fileup/fileuploaded" method="post">
    {#        File:<input type="file" name="file">#}
            <input type="file" name="file">
            <button type="submit" class="btn btn-default" onclick="uploads()">提交</button>
        {#    <p>File:<input type="file" name="filetwo"></p>#}
        </form>
        <p style="width: auto"><strong>格式要求:</strong>按照属性顺序，依次放置属性值；属性值之间以tab间隔开；最后一列为样本的标签；</p>
    </div>
    <div id="uploadfileresult">
        lican
    </div>
</section>
<section>
   <div class="iframe" align="center">
       <p>点击按钮生成决策树：</p>
{#       <a class="btn" onclick="create()">生成决策树</a>#}
       <button class="btn" onclick="createTree()">生成决策树</button>
   </div>
   <div id="picture"> </div>
</section>

<section>
       <form class="form-horizontal" action="/action/dealdata" method="post">
           <div class="form-group">
               <label for="imputSeze" class="col-sm-2 control-label">色泽</label>
               <div class="col-sm-2">
                   <select class="form-control" name="seze">
                       <option>青绿</option>
                       <option>乌黑</option>
                       <option>浅白</option>
                   </select>
               </div>
           </div>
           <div class="form-group">
               <label for="imputGendi" class="col-sm-2 control-label">根蒂</label>
               <div class="col-sm-2">
                   <select class="form-control" name="gendi">
                       <option>蜷缩</option>
                       <option>稍蜷</option>
                       <option>硬挺</option>
                   </select>
               </div>
           </div>
           <div class="form-group">
               <label for="imputQiaosheng" class="col-sm-2 control-label">敲声</label>
               <div class="col-sm-2">
                   <select class="form-control" name="qiaosheng">
                       <option>浊响</option>
                       <option>沉闷</option>
                       <option>清脆</option>
                   </select>
               </div>
           </div>
           <div class="form-group">
               <label for="imputWenli" class="col-sm-2 control-label">纹理</label>
               <div class="col-sm-2">
                   <select class="form-control" name="wenli">
                       <option>清晰</option>
                       <option>稍糊</option>
                       <option>模糊</option>
                   </select>
               </div>
           </div>
           <div class="form-group">
               <label for="imputQibu" class="col-sm-2 control-label">脐部</label>
               <div class="col-sm-2">
                   <select class="form-control" name="qibu">
                       <option>凹陷</option>
                       <option>稍凹</option>
                       <option>平坦</option>
                   </select>
               </div>
           </div>
           <div class="form-group">
               <label for="imputChugan" class="col-sm-2 control-label">触感</label>
               <div class="col-sm-2">
                   <select class="form-control" name="chugan">
                       <option>硬滑</option>
                       <option>软粘</option>
                   </select>
               </div>
           </div>
{#           <input type="text" name="seze" placeholder="青绿、乌黑、浅白"> <br />#}
           <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default" onclick="transdata()">提交</button>
                </div>
           </div>

           <div id="labels"></div>
       </form>
</section>

<script src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/prettify/prettify.js"></script>
<script src="https://cdn.bootcss.com/prettify/r298/run_prettify.js"></script>
<script src="../static/js/layout.js"></script>
<script src="../static/js/jquery-latest.js"></script>


<script src="../static/js/index.js">


</script>
</body>
</html>