<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Decision-Tree</title>
    <!-- 引入 Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prettify.css')}}">
</head>
<body>
<section>
    <div style="text-align: center" >
        <form id="form1" enctype="multipart/form-data" style="text-align: center" action="/fileup/fileuploaded" method="post">
    {#        File:<input type="file" name="file">#}
            <p>属性：<input style="display: inline" id="file_sc" type="file" name="fileattr" /></p>
            <p>属性值：<input style="display: inline" id="file_sc" type="file" name="filevalue" /></p>
{#            <button type="submit" class="btn btn-default" onclick="uploads()">提交</button>#}
{#            <input type="submit" id="tj" value="提交">#}
            <button type="submit" class="btn btn-default">提交</button>
        {#    <p>File:<input type="file" name="filetwo"></p>#}
        </form>
        <p style="width: auto"><strong>格式要求:</strong>按照属性顺序，依次放置属性值；属性值之间以tab间隔开；最后一列为样本的标签。</p>
    </div>
    {% block upfileresult %}
    {% endblock %}
</section>
<section>
   <div class="iframe" align="center">
       <p>生成决策树：<button class="btn" onclick="createTree()">生成决策树</button></p>
   </div>
   <div id="picture" style="text-align: center"> </div>
</section>
<section style="text-align: center">
    <div style="text-align: center">
        <form method="post" action="/cv/result">
            <p>输入交叉验证折数：<input type="number" name="foldnum"></p>
            <button type="submit" class="btn btn-default">进行交叉验证</button>
{#            <input type="submit" value="点击进行交叉验证"/>#}
        </form>
    </div>
</section>
<section>
       <form class="form-horizontal" action="/action/dealdata" method="post" >
       <div class="form-group" style="text-align: center">
           <div class="col-sm-offset-1 col-sm-10">
               <button type="submit" class="btn btn-default">测试新样本···</button>
           </div>
       </div>
       <ul>
           <div class="form-group" style="text-align: center;margin-left: -165px">
               {% for label in attribute.keys() %}
                   <li>
                   <label for="imput" class="control-label">{{ label }}</label>
                   <div class="" style="padding-left: 800px">
                       <select class="form-control" name="{{ label }}" style="width: 20%;margin-top: -35px">
                           {% for value in attribute[label] %}
                               <option>{{ value }}</option>
                           {% endfor %}
                       </select>
                   </div>
                   </li>
               {% endfor %}
           </div>
       </ul>
       <div id="labels" style="text-align: center">
           检测结果：{{ labelsres }}
       </div>
       </form>
</section>
<script src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/prettify/prettify.js"></script>
<script src="https://cdn.bootcss.com/prettify/r298/run_prettify.js"></script>
<script src="../static/js/layout.js"></script>
<script src="../static/js/jquery-latest.js"></script>
<script src="../static/js/index.js"></script>
</body>
</html>